* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-color: #18639d;
    height: 808px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 600px;
    margin-left: 45%;
    color: white;


}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
}

.header-btn {
    width: 160px;
    height: 64px;
    background-color: white;
    color: #005FAC;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 400px;
    font-weight: 600;
    font-size: 20px;
}

.failure {
    width: 1072px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin-right: 50px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    font-size: 16px;
}

.unordered-list {
    margin-top: 30px;
}

.list-item {
    text-emphasis: none;
    margin-top: 10px;

}

.text-center {
    text-align: center;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;

}

.plan {
    margin: 50px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}

footer {
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.footer-div {
    width: 700px;
    margin-right: 50px;

}

input {
    width: 325px;
    height: 64px;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

.secondary-btn {
    width: 170.11px;
    height: 64px;
    border-radius: 8px;
    background-color: #005FAC;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

}